* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ee9ca7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
  background: #4AC29A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BDFFF3, #4AC29A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BDFFF3, #4AC29A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.img {
  max-width: 500px;
  min-height: 300px;
}

.header-list {
  display: flex;

}

h1 {
  font-size: 40px;
  margin: auto auto;
}

strong {
  color: red;
}

.spisok {
  width: 90%;
  text-align: center;

}

ul>li {
  list-style: none;
  background: rgb(44, 210, 239);
  width: 40%;
  font-size: 22px;
  color: black;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 10px 10px 0;
  border-radius: 30px;
}



.famaly {
  margin: 30px auto;
}

.name {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 150%;
}

.icon {
  width: 50px;
  margin-top: 20px;
}

.header__link {
  margin: 0 auto;
}

.header__footer {
  display: flex;
  justify-content: space-between;
}

.mandatory-literature {
  color: #0000EE;
}

.additional-literature {
  color: red;
}

p {
  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.name-book {
  font-size: 20px;
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4);
}

.card {
  margin: 2.5em;
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: top;

}

.card>.info {
  text-align: center;
}

a {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  width: 170px;
  height: 56px;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.button__color_red {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ff2d2d;
}

.button__color_red:hover {
  font-size: 18px;
  font-weight: 700;
  color: #ff2d2d;
  background-color: #ffffff;
  border: 2px solid #ff2d2d;
  text-decoration: underline 2px #ff2d2d;
}



@media (max-width: 800px) {
  .conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5);
  }

  .header-list {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .conteiner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9);
  }

  .card {
    margin-inline: 0;
    /* для мобильных телефонов отступы слева и справа*/
  }
}

/*footer*/
.footer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  max-width: 1900px;
  min-height: 60px;
  margin: 50px auto;
  padding: 0 16px;
  background-color: #213B7E;

}

.copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}